.title__contacto {
  margin: 100px 95px 0px 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: $primary-color;
  font-size: 50px;
  letter-spacing: 2px;
}

form {
  margin: 100px 150px;

  label {
    display: flex;
  }

  input {
    border-radius: 8px;
  }

  input,
  label,
  legend {
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    color: $primary-color;
  }

  label {
    display: flex;
  }

  select {
    font-size: 25px;
  }

  .btn__enviarcontact {
    margin-top: 60px;
    border: none;
    border-radius: 30px;
    padding: 15px;
    width: 600px;
    color: aliceblue;
    background-color: $primary-color;
    transition: 0.7s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      background-color: #ff7d00;
      color: $primary-color;
    }
  }
}

.text__contacto {
  text-transform: uppercase;
  font: $font-lema;
  color: $primary-color;
  text-align: center;
  margin-bottom: 100px;

  span {
    font-style: italic;
    color: $secondary-color;
  }
}
