header {
  width: 100%;
  background-color: $bg-color;
}

nav {
  a {
    img {
      margin-top: 20px;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
        transition: all 0.7s;
      }
    }
  }
  .navbar-toggler {
    border: none;
  }
}

ul {
  list-style-type: none;
  margin-top: 20px;
  li {
    transition: 0.5s;
    &:hover {
      transition: 0.6s;
    }
  }
}

.active {
  color: #2a9d8f !important;
}

.nav-link {
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: $primary-color;
  transition: 0.3s;
  margin-right: 30px;
  padding: 8px 10px;
  border-radius: 4px;
  &:hover {
    color: aliceblue;
    background-color: $primary-color;
    transition: 0.3s;
    box-shadow: 8px 8px 7px 0px #001524;
    font-weight: bold;
  }
}
