.principal {
  margin-top: 55px;
  text-align: center;
  align-items: center;

  .principal__img {
    animation: from-down 1.5s ease;
  }

  .textprin {
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
    margin-top: 50px;
    animation: from-down 1.5s ease;
  }

  .principal__title {
    font-size: 60px;
  }

  .principal__empresa {
    font-size: 30px;
    letter-spacing: 1px;
  }

  .principal__bienvenido {
    font: $font-lema;
    text-transform: uppercase;
    color: $secondary-color;
    margin-top: 200px;
    letter-spacing: 2px;
  }

  .principal__videoseg {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
