.titleservi {
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #002147;
  text-align: center;
}

.title__proteccion {
  margin-top: 50px;
}

.title__seguridad {
  margin-top: 160px;
}

.textservi {
  font-size: 20px;
  color: #002147;
  font-weight: bold;
  margin: 100px 100px;
  letter-spacing: 1px;
  line-height: 28px;
}

.imagenesservi {
  img {
    box-shadow: 7px 7px 9px 0px #001524;
    transition: 0.5s;
    &:hover {
      opacity: 0.4;
    }
  }
}

.boton__contratarservi {
  margin-top: 110px;
  text-align: center;

  a {
    background-color: #002147;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 15px;
    transition: 0.7s;
    border: 2px solid #002147;
    &:hover {
      background-color: transparent;
      color: #002147;
    }
  }
}

.text__servicio {
  margin-top: 150px;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-weight: bold;
  color: #78290f;
  font-size: 28px;
  text-align: center;
  font-style: italic;
}
